div.apps.page {
  padding: 1.5em!important;

  div.ui.app.basic.segment,
  form.ui.app.basic.segment {
    margin: 0.5em;
    margin-top: 0;
    min-width: 225px;
    max-width: 225px;
    min-height: 275px;
    max-height: 275px;
    padding: 0;

    background: #fefefe;
    border: 1px solid #CCCCCC;

    .name,
    .title {
      background: #232323;
      color: #fefefe;
      font-weight: bold;
      padding: 0.5em;
      text-align: center;
      font-size: 1.10em;
    }
  }

  div.ui.app.basic.segment {
    cursor: pointer;

    div.metrics-container {
      display: flex;
      flex-direction: column;
      flex: 1;

      div.ui.statistic {
        display: flex;
        flex: 1;
        margin: auto;
        margin-top: 0.5em;
        font-size: 0.75em;

        div.value {
          margin: auto;
          font-size: 2.5em;
        }
      }
    }
  }

  form.ui.app.basic.segment {
    .title {
      background: #27ae60;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      margin-top: 1.5em;
      padding: 1.0em;

      input[type=submit] {
        margin: auto;
        margin-top: 0.5em;
        width: 125px;
      }
    }
  }
}
