div.apps.page {

  div.ui.app.basic.segment {
    margin: 0.5em;
    margin-top: 0;
    min-width: 225px;
    max-width: 225px;
    min-height: 275px;
    max-height: 275px;
    padding: 0;

    background: #fefefe;
    border: 1px solid #CCCCCC;

    .name {
      background: #232323;
      color: #fefefe;
      font-weight: bold;
      padding: 0.5em;
      text-align: center;
      font-size: 1.10em;
    }
  }
}
